.Producttext
{
    padding-left: 10px;
}

.infobanner{
    background-color: beige;
    text-align: center;
    margin-top: -1%;
    padding: 0.5%;
}

#CategoryImages
{
    width: 100%;
    height: 175px;
}

#Productbox
{
    font-family: Arial;
    border-color: black;
    border-style: solid;
    display: inline-block;
    margin: 5px;
}

a:visited 
{
    color: black;
    text-decoration: white;
}

.SpacingBox
{
    margin-bottom: 10px;
}